
<img src="https://yi-files.s3.amazonaws.com/products/477000/477462/477463-full.jpg" alt="Girl in a jacket" style="width:100%;height:200px;">
<div class="card">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO9f65QOjDBKDW2w4NC9ZB7U_pzCz-pLqh_scm6wZkb0UuVJzn" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>Instagram</b></h4> 
      <p>social networking and communication</p> 
      <button (click)="onclick()">check Info</button>
      {{greeting}}
    </div>
  </div>
